/* Your button CSS file */
.btn-medium {
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px 10px;
  font-weight: lighter;
  opacity: 0.5;
  color: grey;
  font-size: 15px;
}

.btn-treehouse {
  background-color: rgb(93, 208, 129);
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.btn-treehouse:hover {
  background-color: green;
  transition: 1s;
}

.btn-yours {
  background-color: seashell;
  border-radius: 10%;
  padding: 10px 10px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  content: "Click to potato";
  /* width: 50px; */
}

.btn-yours:hover:after {
  content: "🥔";
}
